name: Deploy to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Check EC2 Host
      run: |
        echo "Deploying to: ${{ EC2_VARS.EC2_HOST }}"

    - name: Set up SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_VARS.EC2_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.EC2_VARS.EC2_HOST }} >> ~/.ssh/known_hosts

    - name: Run Deploy Script on EC2
      run: |
        ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ secrets.EC2_VARS.EC2_USER }}@${{ secrets.EC2_VARS.EC2_HOST }} "./pp_backend/deploy.sh"
